<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Fitness Tracker{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.min.js"></script>
    {% endblock %}
</head>
<body>
<div class="row">
    <div class="col-sm-4">
        <div class="side-nav">
            <h1><a href="{{ path('home_index') }}">Fitness Tracker</a></h1>
            <nav>
                <ul>
                    <li class="nav-item">
                        <a href="{{ path('routes_list') }}" class="nav-link">Routes</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('run_list') }}" class="nav-link">Runs</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="side-nav" id="timer-panel">
            {{ include('base/start-running.html.twig') }}
        </div>
    </div>
    <div class="col-sm-8">
        <div class="content">
            {% block body %}
                <h1>Welcome to my Fitness Tracker</h1>
            {% endblock %}
        </div>
    </div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
